Repository googleapis/python-security-private-ca, pull requests merged in 2021-08, with the labels that each got.

#98 feat(samples): add local generation for crypto keys
  samples/snippets/create_certificate.py
  samples/snippets/requirements-test.txt
  samples/snippets/test_certificates.py
Labels: api: security-privateca, cla: yes, samples

#108 chore: generate python samples templates in owlbot.py
  owlbot.py
  samples/snippets/noxfile.py
Labels: automerge, cla: yes, samples, api: security-privateca

#112 chore: migrate default branch from master to main
  .kokoro/build.sh
  .kokoro/test-samples-impl.sh
  CONTRIBUTING.rst
  docs/conf.py
  owlbot.py
Labels: cla: yes, api: security-privateca
